.panel.-fullscreen
  %h5
    Hosts

  %table.table
    %thead
      %tr
        %th Hostname
        %th Flags
        %th IPv4
        %th MAC

    %tbody
      - @hosts.each do |host|
        %tr
          %td= host.hostname
          %td
            - if host.flags.include? 'discovered'
              %span.badge.bg-success discovered
          %td= host.ipv4&.address
          %td= host.mac&.address
