.menu

  = link_to icon(:dashboard, 'Dashboard'), root_path, class: 'menu--item', 'up-target': '.layout--content', 'layout--hide-menu': '', 'up-restore-scroll': true
  = link_to icon(:hosts, 'Hosts'), hosts_path, class: 'menu--item', 'up-target': '.layout--content', 'layout--hide-menu': '', 'up-restore-scroll': true
