.menu

  = link_to icon(:dashboard, text: 'Dashboard'), root_path, class: 'menu--item', 'up-target': '.layout--content', 'layout--hide-menu': '', 'up-restore-scroll': true
  = link_to icon(:hosts, text: 'Hosts'), hosts_path, class: 'menu--item', 'up-target': '.layout--content', 'layout--hide-menu': '', 'up-restore-scroll': true
  = link_to icon(:wifi_access_points, text: 'Wifi Access Points'), wifi_access_points_path, class: 'menu--item', 'up-target': '.layout--content', 'layout--hide-menu': '', 'up-restore-scroll': true
